/* hide right side bar of instagram */
@-moz-document domain(instagram.com) {
  div.x1dr59a3:nth-child(2) {
    display: none !important;
  }

  main.xvbhtw8 > div:nth-child(1) > div:nth-child(1) {
    max-width: 900px !important;
  }
}

/* hide right side bar of reddit */
@-moz-document domain(reddit.com) {
  #right-sidebar-container {
    display: none !important;
  }
  // fill empty space on the main page
  // does not work in 768/900 resolution. I never read reddit like that but you can change as your own will
  @media (min-width: 1416px) {
    .main-container {
      grid-template-columns: repeat(3, 1fr) repeat(3, minmax(90px, 1fr)) !important;
    }
  }
  @media (min-width: 1200px) {
    .main-container {
      grid-template-columns: repeat(3, 1fr) repeat(3, minmax(90px, 1fr)) !important;
    }
  }
  
  // fill empty space on the comment page
  // does not work in 768/900 resolution. I never read reddit like that but you can change as your own will
  @media (min-width: 1416px) {
    #main-content {
      grid-column-end: -1 !important;
    }
  }
  @media (min-width: 1200px) {
    #main-content {
      grid-column-end: -1 !important;
    }
  }

}
